.places {
  width: calc(100% - 2 * 148px);
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .places {
    width: calc(100% - 2 * 48px);
  }
}

@media (max-width: 768px) {
  .places {
    width: calc(100% - 2 * 24px);
    row-gap: 72px;
  }
}

@media (max-width: 720px) {
  .places {
    width: 100%;
    row-gap: 50px;
    margin: 0 0 66px;
  }
}
