.lead {
  max-width: calc(100% - 2 * 148px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .lead {
    max-width: calc(100% - 2 * 48px);
  }
}

@media (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}
