.cover__subtitle {
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 700px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 560px) {
  .cover__subtitle {
    font-size: 15px;
    line-height: 17px;
  }
}

@media (max-width: 350px) {
  .cover__subtitle {
    max-width: 90%;
    font-size: 14px;
    line-height: 16px;
  }
}
