.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 48px 56px;
  padding-top: 28px;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 770px) {
  .header {
    margin: 0 24px 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 16px;
    margin: 0 16px 48px;
  }
}
