.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  margin: 0 0 26px 0;
}

.place__paragraph:last-child {
  margin: 0;
}

@media (max-width: 900px) {
  .place__paragraph {
    font-size: 17px;
    line-height: 28px;
  }
}

@media (max-width: 880px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .place__paragraph {
    margin-bottom: 25px;
  }
}

@media (max-width: 700px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
