.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0;
}

@media (max-width: 730px) {
  .footer__copyright {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}
