.cover {
  margin: 92px 48px;
}

@media (max-width: 1024px) {
  .cover {
    margin: 92px 0;
  }
}

@media (max-width: 770px) {
  .cover {
    margin: 85px 0;
  }
}

@media (max-width: 450px) {
  .cover {
    margin: 66px 0 64px 0;
  }
}
