.place__link {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  transition: opacity 0.6s ease;
}

.place__link:hover {
  opacity: 0.8;
}

@media (max-width: 700px) {
  .place__link {
    padding: 0 16px;
    margin-bottom: 32px;
  }
}
