.photo-grid__items {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid__items {
    gap: 14px;
  }
}

@media (max-width: 770px) {
  .photo-grid__items {
    gap: 16px;
  }
}

@media (max-width: 380px) {
  .photo-grid__items {
    gap: 12px;
  }
}
