.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  text-align: center;
  margin: 245px 0 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 1024px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media (max-width: 768px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media (max-width: 600px) {
  .cover__title {
    margin-top: 80px;
  }
}

@media (max-width: 500px) {
  .cover__title {
    width: 90%;
    font-size: 48px;
    line-height: 53px;
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .cover__title {
    font-size: 40px;
    line-height: 44px;
    margin-top: 42px;
  }
}

@media (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 33px;
  }
}
