.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: calc((460 / 984) * 100%) 1fr;
  grid-auto-columns: calc((460 / 984) * 100%) 1fr;
  column-gap: 40px;
  row-gap: 48px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: calc((440 / 928) * 100%) 1fr;
    grid-auto-columns: calc((440 / 928) * 100%) 1fr;
    column-gap: 32px;
  }
}

@media (max-width: 768px) {
  .place {
    max-width: 720px;
    margin: 0;
    grid-template-columns: calc((340 / 720) * 100%) 1fr;
    grid-auto-columns: calc((340 / 720) * 100%) 1fr;
    column-gap: 28px;
  }
}

@media (max-width: 640px) {
  .place {
    display: block;
  }
}
