.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 48px;
  padding-bottom: 24px;
}

@media (max-width: 780px) {
  .footer {
    margin: 0 24px;
  }
}

@media (max-width: 550px) {
  .footer {
    flex-direction: column;
    row-gap: 48px;
  }
}
