.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0 0 12px 0;
}

@media (max-width: 700px) {
  .place__url-heading {
    padding: 0 16px;
  }
}
